/* JQM subpages footer indicators*/
.footer_indicator {
    border-radius: 5px;
    /*Place all indicators in one row instead of a one column */
    display: inline-block;
    width: 45px;
    height: 20px;
    text-shadow: none;
}

/* JQM subpages footer <div>*/
.exo_footer {
    /*Align all <p> tags content by footer center */
    text-align: center;
}

/* JQM subpages footer Active activities indicator*/
.activities_active_number {
    background-color: gray;
}

/* JQM subpages footer Completed activities indicator */
.activities_completed_number {
    background-color: green;
}
    


/* Make buttons square */
.exo_square_button {
    height: 60pt;
}

/*We should set padding-top to center text in button*/
/*We should set width to make buttons to consume all screen width, even if text is short*/
/*
.exo_square_button .ui-btn-inner {
    padding-top: 40px;
    width: 100px;
}
*/
/* /Make buttons square */