.footer_indicator {
    border-radius: 5px;
    display:inline;
    /*float: center;*/
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: blue;
}

footer_wrapper {
    float: left;
    text-align: center;
}

/* Make buttons square */
.exo_square_button {
    height: 60pt;
    /* We should set width to 47% to prevent button from positioning one under other, they should be inline */
    width: 47%;
}

/* Make controlgroup with buttons that should be inline 100% width */
/* We can't use controlgroup class, because jQury Mobile will add additional markup inside it */
.ui-controlgroup-controls {
    width: 100%;
}

/*.button_controlgroup {
    width: 100%;
}*/

/*We should set padding-top to center text in button*/
/*We should set width to make buttons to consume all screen width, even if text is short*/
/*
.exo_square_button .ui-btn-inner {
    padding-top: 40px;
    width: 100px;
}
*/
/* /Make buttons square */