#user_logged_status {
    border-radius: 15px;
    display:inline;
    float: right;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: gray;
}

.button_settings {
	/*width: 70%;*/
    padding-right: 1%;
}

/* Make buttons square */
.exo_square_button {
    height: 70px;
    width: 110px;
}

/*We should set padding-top to center text in button*/
/*We should set width to make buttons to consume all screen width, even if text is short*/
/*
.exo_square_button .ui-btn-inner {
    padding-top: 40px;
    width: 100px;
}
*/
/* /Make buttons square */